@section PAGE_CONFIG
{
<script>

    (function ($j) {
        $j(document).ready(function () {

            /** App **/
            var app = new GA.App({
                state: GA.App.States.REGISTER,
                views: [
                /*
                * Register View
                */
							new GA.RegisterView({
							    container: GA.one("#register"),
							    hideOnStates: [GA.App.States.HOME, GA.App.States.LOGIN],
							    templates: {
							        main: $j.trim(GA.one("#register-tpl").innerHTML)
							    }
							})

						]
            });

            app.start();
        });

    })(jQuery.noConflict());
			
</script>
}

@section PAGE_TEMPLATES
{
<!-- Templates -->
		
<script id="register-tpl" type="text/template">
	<div class="login-icon">
	    <img src="/Web/images/register-icon.png" alt="Welcome to GeoAds">
	    <h4>Welcome to <small>GeoAds</small></h4>
    </div>
	    <div class="login-form">
	    <div class="control-group">
	        <input id="register-email" type="text" class="login-field" value="" placeholder="Enter your email">
	        <label class="login-field-icon fui-man-16" for="login-name"></label>
	    </div>
	
	    <div class="control-group">
	        <input id="register-pass" type="password" class="login-field" value="" placeholder="Password">
	        <label class="login-field-icon fui-lock-16" for="login-pass"></label>
	    </div>
	            
	    <div class="control-group">
	        <input id="register-pass-confirm" type="password" class="login-field" value="" placeholder="Confirm Password">
	        <label class="login-field-icon fui-lock-16" for="login-pass"></label>
	    </div>
				
		{{#errorMessage}}
			<div class="error-message">{{errorMessage}}</div>
		{{/errorMessage}}
				
	    <a id="registerBtn" class="btn btn-primary btn-large btn-block" href="#">Sign up</a>
	    </div>
</script>
}

@*Body*@
<div class="register-page">
	<div id="register"></div>
</div>