@section PAGE_CONFIG
{

<script>

	(function ($j) {
		$j(document).ready(function () {

		    /** App **/
		    var app = new GA.App({
		        state: GA.App.States.LOGIN,
		        views: [

		        /*
		        * Login View
		        */
					new GA.LoginView({
						container: GA.one("#login"),
						hideOnStates: [GA.App.States.HOME, GA.App.States.REGISTER],
						templates: {
							main: $j.trim(GA.one("#login-tpl").innerHTML)
						}
					})
				]
		    });

		    app.start();
		});

	})(jQuery.noConflict());
			
</script>
}

@section PAGE_TEMPLATES
{
<!-- Templates -->
		
<!-- Account View -->
<script id="login-tpl" type="text/template">
	<div class="login-icon">
	    <img src="/Web/images/login-icon.png" alt="Welcome to GeoAds">
	    <h4>Welcome to <small>GeoAds</small></h4>
    </div>
	    <form class="login-form">
	        <div class="control-group">
	            <input autocomplete="on" type="text" class="login-field" value="" placeholder="Enter your email" id="login-email">
	            <label class="login-field-icon fui-man-16" for="login-name"></label>
	        </div>
	
	        <div class="control-group">
	            <input autocomplete="on" type="password" class="login-field" value="" placeholder="Password" id="login-pass">
	            <label class="login-field-icon fui-lock-16" for="login-pass"></label>
	        </div>
	            
            {{#errorMessage}}
			    <div class="error-message">{{errorMessage}}</div>
		    {{/errorMessage}}

	        <a id="loginBtn" class="btn btn-primary btn-large btn-block" href="#">Sign in</a>
	        <a id="registerBtn" class="register-link" href="#">Don't have an account? Register!</a>
    <!-- 	            <a id="lostBtn" class="login-link" href="#">Lost your password?</a> -->
	    </form>
</script>
}

@*Body*@

<div class="login-page">
	<div id="login"></div> 
</div>

