@section PAGE_CONFIG
{
<script>

    (function ($j) {
        $j(document).ready(function () {

            /** App **/
            var app = new GA.App({
                state: GA.App.States.MAP,
                views: [
                /*
                * Menu View
                */
				new GA.MenuView({
				    container: GA.one("#menu"),
                    client: @Html.Raw( @ViewBag.ServerScript ),
					templates: {
						main: $j.trim(GA.one("#menu-tpl").innerHTML)
					}
				}),
                /*
                * Ads View
                */
				new GA.AdsView({
					container: GA.one("#ads"),
					templates: {
						main: $j.trim(GA.one("#ads-tpl").innerHTML)
					}
				})
			]
            });

            app.start();

            //GeolocateUser
            GA.DataManager.getInstance().geolocateUser();
        });

    })(jQuery.noConflict());
			
</script>
}

@section PAGE_TEMPLATES
{
<!-- Menu View -->
<script id="menu-tpl" type="text/template">
	<div class="menu-container">
		{{#client}}
			<div id="home-item" class="yui3-u logo menu-item">
				<div class="logo client-present">GeoAds</div>
				<div class="client"> welcomes you, {{client}}</div>
			</div>
            <div id="new-ad-item" class="yui3-u menu-item">New Ad</div>
            <div id="about-item" class="yui3-u menu-item">About</div>
		{{/client}}
	</div>
</script>
		
<!-- Ads View -->
<script id="ads-tpl" type="text/template">
	{{#ads}}
		<div id="ad-{{index}}" class="ad">
			<div id="ad-info">
				<div id="name">{{Name}}</div>
				<div id="description">{{Description}}</div>
			</div>
			<div id="buttons">
				<a id="editBtn-1" class="yui3-u btn btn-primary" href="#">Edit</a>
				<a id="deleteBtn-1" class="yui3-u btn btn-primary delete" href="#">Delete</a>
			</div>
		</div>
	{{/ads}}
</script>
}

@*Body*@
<div class="page">
	<div id="menu"></div>
	<div id="ads"></div>
</div>